{{/* feature tags */}}
{{- $headless := false -}}  {{/* true if this machine does not have a screen and keyboard */}}
{{- $transient := false -}} {{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $wsl := false -}}       {{/* true if running within Windows Subsystem for Linux (WSL) */}}
{{- $work := false -}}      {{/* true if this machine should have work config */}}
{{- $personal := false -}}  {{/* true if this machine should have personal secrets and config */}}
{{- $shared := false -}}    {{/* true if this is a shared machine */}}
{{- "" -}}

# Gather CPU info
{{- includeTemplate "cpu" . }}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* Detect Windows Subsystem for Linux (WSL) */}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-    $wsl = true -}}
{{-   end -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $transient = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- $fqdn := .chezmoi.fqdnHostname -}}

{{/* On macOS the hostname can change depending on the network, this gives a more stable result */}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Stuart's MacBook Pro" "Stuart’s MacBook Pro" -}}
{{-     $hostname = "stuarts-mbp" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}


{{- if not $transient -}}
{{-   if eq $hostname "blade15" "BLADE15" "blade" -}}
{{-     $work = false -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "viper" "hactar" "krikkit" -}}
{{-     $work = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "statler" "frogstar" -}}
{{-     $work = true -}}
{{-     $shared = false -}}
{{-   else if eq $hostname "stuarts-mbp" -}}
{{-     $work = true -}}
{{-     $shared = false -}}
{{-   else if contains ".nsls2.bnl.local" $fqdn -}}
{{-     $work = true -}}
{{-     $shared = true -}}
{{-   else if contains ".nsls2.bnl.gov" $fqdn -}}
{{-     $work = true -}}
{{-     $shared = true -}}
{{-   else -}}
{{-     $transient = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}


{{- $name := "Stuart Campbell" -}}
{{- $email := "" -}}
{{- if $work -}}
{{-   $email = "scampbell@bnl.gov" -}}
{{- else -}}
{{-   $email = "stuart@stuartcampbell.me" -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    transient = {{ $transient }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    osid = {{ $osID | quote }}
    wsl = {{ $wsl }}
    shared = {{ $shared }}
