[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.*",
        "*/templates",
        "*/themes",
    ]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/.editorconfig",
        "*/.gitattributes",
        "*/.github",
        "*/.gitignore",
    ]

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
    exact = true
    stripComponents = 1

{{- if .work }}
["./src/nsls2/test/ssh-client-config"]
    type = "git-repo"
    url = "https://github.com/nsls2/ssh-client-config.git"
{{ end }}

{{- if eq .chezmoi.os "linux" }}

[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
    refreshPeriod = "672h"
    executable = true

[".local/bin/eza"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-gnu.tar.gz" | quote }}
    executable = true
    path = "./eza"

[".local/bin/gdu"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "dundee/gdu" (printf "gdu_%s_%s.tgz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "gdu_linux_amd64"

[".local/share/gnome-shell/extensions/x11gestures@joseexposito.github.io"]
    type = "archive"
    url = "https://github.com/JoseExposito/gnome-shell-extension-x11gestures/archive/18.zip"
    exact = true
    stripComponents = 1

{{- end }}

{{- if and (not .transient) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}

{{- $inteloneFontVersionTag := (gitHubLatestRelease "intel/intel-one-mono").TagName }}
["{{ $fontDir }}/intel-one-mono/"]
    type = "archive"
    url = "https://github.com/intel/intel-one-mono/releases/download/{{ $inteloneFontVersionTag }}/ttf.zip"
    refreshPeriod = "168h"

{{- $nerdFontVersionTag := (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName }}

["{{ $fontDir }}/Cascadia-NF/"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontVersionTag }}/CascadiaCode.zip"

["{{ $fontDir }}/Hack-NF/"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontVersionTag }}/Hack.zip"

["{{ $fontDir }}/MesloLGS NF Regular.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Regular.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/MesloLGS NF Bold.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Bold.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/MesloLGS NF Italic.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Italic.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/MesloLGS NF Bold Italic.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS NF Bold Italic.ttf"
    refreshPeriod = "168h"

{{- end }}
