[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}

[github]
	user = stuartcampbell

[alias]
	update-submodules = submodule update --init --recursive
	upgrade-submodules = submodule update --init --remote
	
	# The missing command <3
	unstage = reset HEAD --
	
	# Undo modifications to a file
	undo = checkout --
	
	# Checkout shortcut
	co = checkout

[branch]
    # Always merge using rebase
    autosetuprebase = always

[color]
	ui = auto

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true

[help]
	# Suggest the correct command
	autocorrect = 1

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current

