# 
# General Aliases
# 

if [[ $OSTYPE == darwin* ]]; then
    alias l.="ls -d .* -G"
    alias ll="ls -lh -G"
    alias ls="ls -G "
elif [[ $OSTYPE == linux* ]]; then
    alias l.="ls -d .* --color=auto"
    alias ll="ls -lh --color=auto"
    alias ls="ls --color=auto"
fi

# replacement for 'ls' (https://the.exa.website)
if [ "$(command -v exa)" ]; then
    alias exa="exa --icons --time-style=iso --git"
    alias ls="exa"
fi

if [ "$(command -v nvim)" ]; then
    alias vi=nvim
    export EDITOR=nvim
elif [ "$(command -v vim)" ]; then
    alias vi=vim
    export EDITOR=vim
fi

if [ "$(command -v docker)" ]; then
    alias docker-stop-all="docker stop $(docker ps -a -q)"
fi

# https://github.com/defunkt/gist
if [ "$(command -v gist)" ]; then
    alias gist="gist -c"
fi

# List open ports 
alias openports2='netstat -nape --inet'
alias openports="netstat -tunlp"

# What are my DNS servers (for the cases where you can't just cat /etc/resolv.conf)
alias which-dns="( nmcli dev list || nmcli dev show ) 2>/dev/null | grep DNS"

# SSH using password authentication
alias sshpw="ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no "
alias ssh-nocheck="ssh -o StrictHostKeyChecking=no "
alias ssh-noconfig="ssh -F /dev/null "

# What files are using all my disk space - sorted list
alias diskspacehogs="du -S | sort -n -r | more"

# To see if a command is aliased, a file, or a built-in command
alias checkcommand="type -t"

# lovely directory trees
alias tree='tree -CAhF --dirsfirst'
alias treed='tree -CAFd'

{{ if .work }}
alias caget="caget -a"
alias quota="quota -s -f /nsls2/users/$USER"
alias okta="flatpak run com.okta.developer.CLI"
{{ end }}


