# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=10000
unsetopt beep
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '$HOME/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

export ZSH_THEME="dracula-pro"

# JetBrains Toolbox
if [ -d "$HOME/.local/share/JetBrains/Toolbox/scripts" ]; then
	export PATH="$PATH:$HOME/.local/share/JetBrains/Toolbox/scripts"
fi

# Rancher Desktop
if [ -d "$HOME/.rd/bin" ]; then
	export PATH="$PATH:$HOME/.rd/bin"
fi

# Hatch Command Completions
. ~/.hatch-complete.zsh

# Rust Cargo
test -s $HOME/.cargo/env && . $HOME/.cargo/env || true

# Deno (Slack)
if [ -d "$HOME/.deno" ]; then
  export DENO_INSTALL="$HOME/.deno"
  export PATH="$DENO_INSTALL/bin:$PATH"
fi

# UV/UVX (python)
if [ "$(command -v uv)" ]; then
    eval "$(uv generate-shell-completion zsh)"
fi
if [ "$(command -v uvx)" ]; then
    eval "$(uvx generate-shell-completion zsh)"
fi


# Pixi (conda replacement)
if [ -d "$HOME/.pixi/bin" ]; then
	export PATH="$HOME/.pixi/bin:$PATH"
fi
if [ "$(command -v pixi)" ]; then
  eval "$(pixi completion --shell zsh)"
fi

# Keychain - frontend to ssh-agent and ssh-add
if [ "$(command -v keychain)" ]; then
  eval `keychain -q --eval --agents ssh`
fi

# Local Aliases
test -s ~/.aliases && . ~/.aliases || true

# Zoxide - Replacement for 'cd'
if [ "$(command -v zoxide)" ]; then
  eval "$(zoxide init zsh)"
fi

# Starship Prompt
if [ "$(command -v starship)" ]; then
  eval "$(starship init zsh)"
fi

# Ngrok
if command -v ngrok &>/dev/null; then
  eval "$(ngrok completion)"
fi

# FZF
if [ "$(command -v fzf)" ]; then
  source <(fzf --zsh)
fi
# Dracula Theme for FZF
export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# GitHub Copilot CLI
if [ "$(command -v gh copilot)" ]; then
  eval "$(gh copilot alias -- zsh)"
fi

{{ if (and (eq .chezmoi.os "darwin") (.work) ) }}
# Definition to make 'kinit' work on BNL Macs
export KRB5CCNAME=FILE:$HOME/.krb5-ticket
{{ end }}
