# History settings
HISTFILE=~/.zsh_histfile
HISTSIZE=5000
SAVEHIST=10000
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt incappendhistory
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups
setopt histignorespace
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

autoload -Uz compinit && compinit

# Case insensitive completion
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'

export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

ZSH_DISABLE_COMPFIX=true
CASE_SENSITIVE="true"

# p10k Prompt

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block, everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh



# JetBrains Toolbox
if [ -d "$HOME/.local/share/JetBrains/Toolbox/scripts" ]; then
	export PATH="$PATH:$HOME/.local/share/JetBrains/Toolbox/scripts"
fi

# Rancher Desktop
if [ -d "$HOME/.rd/bin" ]; then
	export PATH="$PATH:$HOME/.rd/bin"
fi

# Rust Cargo
test -s $HOME/.cargo/env && . $HOME/.cargo/env || true

# Deno
if [ -d "$HOME/.deno" ]; then
  export DENO_INSTALL="$HOME/.deno"
  export PATH="$DENO_INSTALL/bin:$PATH"
fi

# UV/UVX (python)
if [ "$(command -v uv)" ]; then
    eval "$(uv --generate-shell-completion zsh)"
fi
if [ "$(command -v uvx)" ]; then
    eval "$(uvx --generate-shell-completion zsh)"
fi

# Pixi (conda replacement)
if [ -d "$HOME/.pixi/bin" ]; then
	export PATH="$HOME/.pixi/bin:$PATH"
fi
if [ "$(command -v pixi)" ]; then
  eval "$(pixi completion --shell zsh)"
fi

# Mamba initialization
if [ "$(command -v mamba > /dev/null 2>&1;)" ]; then
  eval "$(mamba shell hook zsh)"
fi

# Keychain - frontend to ssh-agent and ssh-add
if [ "$(command -v keychain)" ]; then
  eval $(keychain -q)
# eval `keychain -q --eval --agents ssh`
fi

# Zoxide - Replacement for 'cd'
if [ "$(command -v zoxide)" ]; then
  eval "$(zoxide init zsh)"
fi

# direnv
if command -v direnv &>/dev/null; then
  eval "$(direnv hook zsh)"
fi

# Ngrok
if command -v ngrok &>/dev/null; then
  eval "$(ngrok completion)"
fi

# FZF
if [ "$(command -v fzf)" ]; then
  source <(fzf --zsh)
fi
# Dracula Theme for FZF
export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# NVIDIA AI Workbench
# >>> nvwb
# Sourcing the nvwb wrapper function was added during the NVIDIA AI Workbench installation and
# is required for NVIDIA AI Workbench to function properly. When uninstalling
# NVIDIA AI Workbench, it will be removed.
if [ -f "$HOME/.local/share/nvwb/nvwb-wrapper.sh" ]; then
    source $HOME/.local/share/nvwb/nvwb-wrapper.sh
fi
# >>> nvwb

# Antigravity (Google's Agentic VScode clone)
if [ -d "$HOME/.antigravity/antigravity/bin" ]; then
	export PATH="$HOME/.antigravity/antigravity/bin:$PATH"
fi

# LM studio CLI
if [ -d "$HOME/.lmstudio/bin" ]; then
  export PATH="$HOME/.lmstudio/bin:$PATH"
fi

# MISE
if [ "$(command -v mise)" ]; then
  eval "$(mise activate zsh)"
fi

# Starship Prompt
if [ "$(command -v starship)" ]; then
  eval "$(starship init zsh)"
fi

{{ if (and (eq .chezmoi.os "darwin") (.work) ) }}
# Definition to make 'kinit' work on BNL Macs
export KRB5CCNAME=FILE:$HOME/.krb5-ticket
{{ end }}

# Local Aliases
test -s ~/.aliases && . ~/.aliases || true

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
ZSH_THEME="dracula-pro"
# ZSH_THEME="powerlevel10k/powerlevel10k"
DISABLE_AUTO_UPDATE="true"
# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
{{- range .zshPlugins }}
  {{ . }}
{{- end }}
)
#source $ZSH/oh-my-zsh.sh

if [ -d "$HOME/.zsh/zsh-autosuggestions" ]; then
  source $HOME/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

# ZSH Syntax Highlighting (must be at the end of this file)
# The path for this is defined in chezmoi externals definition file.
if [ -d "$HOME/.zsh/zsh-syntax-highlighting" ]; then
  source $HOME/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
