[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}

[init]
	defaultBranch = main

[github]
	user = stuartcampbell

[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[branch]
    # Always merge using rebase
    autosetuprebase = always

[help]
	# Suggest the correct command
	autocorrect = 1

[alias]
	update-submodules = submodule update --init --recursive
	upgrade-submodules = submodule update --init --remote
	
	# The missing command <3
	unstage = reset HEAD --
	
	# Undo modifications to a file
	undo = checkout --
	
	# Checkout shortcut
	co = checkout

[pull]
	rebase = true
