# SSH config for BNL (Campus) 

{{- $winserver := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/Windows Admin Server on Campus") -}}
{{- $rdp_port := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/Windows Admin Server on Campus RDP Port") -}}
{{- $campus_workstation := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/Campus Workstation") -}} 
{{ "" }}

Host ssh.bnl.gov
	ForwardAgent yes
	PubKeyAuthentication yes


Match Host {{ $campus_workstation }} !exec "host -W 1 %h"
	ProxyJump ssh.bnl.gov
	ForwardAgent yes
	DynamicForward {{ trim (onepasswordRead "op://Work/BNL Internal Details/Ports/campus-socks-port") }}

Host {{ $campus_workstation }}
	Hostname {{ $campus_workstation }}
	ForwardAgent yes
	DynamicForward {{ trim (onepasswordRead "op://Work/BNL Internal Details/Ports/campus-socks-port") }}
	LocalForward {{ $rdp_port }} {{ $campus_workstation }}:3389

# NSLS-II internal/campus hosts
host *-int.nsls2.bnl.gov
  ProxyJump ssh.bnl.gov
