#
# External Gateways for N2SN
#

{{- $winserver := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/Windows Admin Server") -}}
{{- $rdp_port1 := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/Windows Admin Server RDP Port") -}}
{{ "" }}

Host ssh.nsls2.bnl.gov
    PubKeyAuthentication yes
    GSSAPIAuthentication yes
    #GSSAPITrustDNS yes
    # We can explicitly set the hostname to avoid issues with roundrobin
    Hostname ssh1-ext.nsls2.bnl.gov

#
# Internal Gateways & Proxies for N2SN
#

{{- $campus_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-campus-proxy-1") -}}
{{- $campus_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-campus-proxy-2") -}}
{{- $nsls2acc_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2acc-proxy-1") -}}
{{- $nsls2acc_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2acc-proxy-2") -}}
{{- $mgmt_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-management-proxy-1") -}}
{{- $mgmt_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-management-proxy-2") -}}
{{- $n2sn_socks_port := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/n2sn-socks-port") -}}
{{- $nsls2acc_socks_port := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/nsls2acc-socks-port") -}}
{{- $username1 := trim (onepasswordRead "op://Work/BNL Internal Details/Accounts/bnl") -}}
{{- $username2 := trim (onepasswordRead "op://Work/BNL Internal Details/Accounts/bnl-type2") -}}
{{ "" }}

Host {{ $mgmt_jump1 }} {{ $mgmt_jump2 }}
    User {{ $username1 }}
    ForwardAgent yes
    PubKeyAuthentication yes
    GSSAPIAuthentication no
    LocalForward {{ $rdp_port1 }} {{ $winserver }}:3389
    ProxyJump ssh.nsls2.bnl.gov
    DynamicForward {{ $n2sn_socks_port }}

#Host {{ $campus_jump1 }} {{ $campus_jump2 }}
#  ForwardAgent yes
#  PubKeyAuthentication yes
#  GSSAPIAuthentication yes
#  LocalForward {{ $rdp_port1 }} {{ $winserver }}:3389
#  DynamicForward {{ trim (onepasswordRead "op://Work/BNL Internal Details/Ports/campus-socks-port") }}

# If the host is not reachable, use the BNL gateway
#Host {{ $campus_jump2 }} exec "! nc -z {{ $campus_jump2 }} 22 >/dev/null 2>&1"
#    ProxyJump ssh.bnl.gov


Host {{ $nsls2acc_jump1 }} {{ $nsls2acc_jump2 }}
	ProxyJump ssh-acc.nsls2.bnl.gov
	DynamicForward {{ $nsls2acc_socks_port }}

#
# Connections to NSLS-II Systems
#

Host *.nsls2.bnl.local
  ForwardAgent yes
  GSSAPIDelegateCredentials yes
  ProxyJump ssh.nsls2.bnl.gov

Host *.lbms.bnl.local
  ProxyJump {{ $mgmt_jump1 }}

Host *.lbms.bnl.gov
  ProxyJump {{ $mgmt_jump1 }}

Host br-rf*.nsls2.bnl.gov
  ProxyJump {{ $nsls2acc_jump1 }}

Host sputnik*.nsls2.bnl.gov
  ProxyJump {{ $nsls2acc_jump1 }}

Host ansible-acc*.nsls2.bnl.gov
  ProxyJump {{ $nsls2acc_jump1 }}

Host ssh-acc.nsls2.bnl.gov
	ProxyJump ssh.nsls2.bnl.gov

#
# NSLS-II internal/campus hosts
#
Host *-int.nsls2.bnl.gov
  ProxyJump ssh.bnl.gov

Host {{ printf "*.nsls2.bnl.gov !%s !%s !%s !%s !%s !%s !ssh*.nsls2.bnl.gov !*-int.nsls2.bnl.gov" $mgmt_jump1 $mgmt_jump2 $nsls2acc_jump1 $nsls2acc_jump2 $campus_jump1 $campus_jump2}}
    ForwardAgent yes
    GSSAPIDelegateCredentials yes
    ProxyJump {{ $mgmt_jump1 }}
