# 
# External Gateways for N2SN
# 

{{- $internalonly := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/n2sn-internal-only") -}} 
{{- $adserver1 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 1") -}} 
{{- $adserver2 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 2") -}}  
{{- $adserver3 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 3") -}}
{{- $winserver := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/Windows Admin Server") -}}
{{- $rdp_port1 := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/Windows Admin Server RDP Port") -}}
{{ "" }} 

Match host ssh.nsls2.bnl.gov exec "host -W 1 {{ $internalonly }}"
    HostName {{ $internalonly }}
    PubKeyAuthentication yes
    GSSAPIAuthentication yes

Match host ssh.nsls2.bnl.gov !exec "host -W 1 {{ $internalonly }}"
  HostName ssh.nsls2.bnl.gov
  PubKeyAuthentication yes
  GSSAPIAuthentication no
  LocalForward 1188 {{$adserver1}}:88
  LocalForward 1288 {{$adserver2}}:88
  LocalForward 1388 {{$adserver3}}:88

#
# Internal Gateways & Proxies for N2SN
#

{{- $jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/n2sn-proxy-1") -}} 
{{- $jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/n2sn-proxy-2") -}} 
{{- $campus_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-campus-proxy-1") -}}
{{- $campus_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-campus-proxy-2") -}}
{{- $nsls2acc_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2acc-proxy-1") -}} 
{{- $nsls2acc_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2acc-proxy-2") -}} 
{{- $mgmt_jump1 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-management-proxy-1") -}} 
{{- $mgmt_jump2 := trim (onepasswordRead "op://Work/BNL Internal Details/Jump Hosts/nsls2-management-proxy-2") -}} 
{{- $port := trim (onepasswordRead "op://Work/BNL Internal Details/Ports/n2sn-socks-port") -}} 
{{- $username1 := trim (onepasswordRead "op://Work/BNL Internal Details/Accounts/bnl") -}}
{{- $username2 := trim (onepasswordRead "op://Work/BNL Internal Details/Accounts/bnl-type2") -}}
{{ "" }}

Match Host {{ $jump1 }},{{ $jump2 }}
    User {{ $username1 }}
    ForwardAgent yes
    PubKeyAuthentication yes
    GSSAPIAuthentication no
    LocalForward {{ $rdp_port1 }} {{ $winserver }}:3389
    ProxyJump ssh.nsls2.bnl.gov
    DynamicForward {{ $port }}

Match Host {{ $mgmt_jump1 }},{{ $mgmt_jump2 }}
    User {{ $username1 }}
    ForwardAgent yes
    PubKeyAuthentication yes
    GSSAPIAuthentication no
    LocalForward {{ $rdp_port1 }} {{ $winserver }}:3389
    ProxyJump ssh.nsls2.bnl.gov
    DynamicForward {{ $port }}

#
# Connections to N2SN Systems
#

Host {{ trim (onepasswordRead "op://Work/BNL Internal Details/Computers/N2SN Workstation") }}
    GSSAPIDelegateCredentials yes
    ForwardAgent yes
    #ForwardX11 yes
    DynamicForward {{ trim (onepasswordRead "op://Work/BNL Internal Details/Ports/n2sn-workstation-socks-port") }}
    ProxyJump {{ $jump1 }}  

Match User root Host *.nsls2.bnl.local
    User root
    # Root auth is pubkey-only, private key comes from Yubikey loaded in agent
    PubKeyAuthentication yes
    ForwardAgent yes
    GSSAPIDelegateCredentials no
    ProxyJump {{ $jump1 }}

Match Host *.nsls2.bnl.local
  ForwardAgent yes
  GSSAPIDelegateCredentials yes
  ProxyJump ssh.nsls2.bnl.gov

Match Host *.lbms.bnl.local
  ProxyJump {{ $jump1 }}

Match Host *.lbms.bnl.gov
  ProxyJump {{ $jump1 }}

Match Host {{ printf "*.nsls2.bnl.gov,!%s,!%s,!%s,!%s,!%s,!%s,!%s,!%s,!ssh*.nsls2.bnl.gov" $mgmt_jump1 $mgmt_jump2 $nsls2acc_jump1 $nsls2acc_jump2 $campus_jump1 $campus_jump2 $jump1 $jump2}}
    ForwardAgent yes
    GSSAPIDelegateCredentials yes
    ProxyJump {{ $jump1 }}
