# SSH config for BNL (Campus)

{{- $campus_workstation := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/Campus Workstation") -}}
{{- $adserver1 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 1") -}}
{{- $adserver2 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 2") -}}
{{- $adserver3 := trim (onepasswordRead "op://Work/BNL Internal Details/Computers/ActiveDirectory DC 3") -}}

{{ "" }}

Host ssh.bnl.gov
	ForwardAgent yes
    # Can authenticate by pubkey to gateways
  	PubKeyAuthentication yes
  	# Can't authenticate by Kerberos to BNL ITD gateways
  	GSSAPIAuthentication yes
    LocalForward 1188 {{$adserver1}}:88
    LocalForward 1288 {{$adserver2}}:88
    LocalForward 1388 {{$adserver3}}:88

#
# Office Workstation
#
Host {{ $campus_workstation }}
    Hostname {{ $campus_workstation }}
	ForwardAgent yes
	DynamicForward {{ trim (onepasswordRead "op://Work/BNL Internal Details/Ports/campus-socks-port") }}

    # If direct TCP to {{ $campus_workstation }}:22 works, use it.
    # Otherwise, fall back to jumping via ssh.bnl.gov.
    # NOTE: Not using a "Match" statement as NVIDIA Sync (which uses a 'go' library) cannot handle them.
    ProxyCommand /bin/sh -c 'nc -z -w 1 %h %p 2>/dev/null && exec nc %h %p || exec ssh -W %h:%p ssh.bnl.gov'

    # optional: fail fast
    ConnectTimeout 3
    ServerAliveInterval 5
    ServerAliveCountMax 2
