HOST *.fedoraproject.org fedorapeople.org *.fedorahosted.org
	User sic
	IdentityFile ~/.ssh/id_rsa_fedora.pub
	IdentitiesOnly yes
	IdentityAgent ~/.1password/agent.sock

Host *
    ServerKeepAlive 5
    # ControlMaster config
    ControlMaster auto
    ControlPath ~/.ssh/controlmasters/%r@%h:%p.socket
    # If the initial and all sessions exit, keep the ControlMaster
    # open for 300 seconds before closing.
    ControlPersist 300s

