{{ if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{ end }}

{{- "" -}}

{{ if .work }}
{{- if eq .chezmoi.os "darwin" }}
Include "/Users/scampbell/Library/Application Support/NVIDIA/Sync/config/ssh_config"
{{- end }}
Include config.d/ornl
Include config.d/bnl
Include config.d/nsls2
{{ end }}

{{ if .personal }}
Include config.d/home
{{ end }}

{{ "" }}

Host *.fedoraproject.org fedorapeople.org *.fedorahosted.org
	User sic
	IdentityFile ~/.ssh/id_rsa_fedora.pub
	IdentitiesOnly yes
{{- if eq .chezmoi.os "darwin" }}
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}
{{- if eq .chezmoi.os "linux" }}
	IdentityAgent ~/.1password/agent.sock
{{ end -}}

# Default catch-all settings (that have not been set somewhere else)
Host *
    ServerAliveInterval 5
    PreferredAuthentications gssapi-with-mic,publickey,keyboard-interactive,password
    # ControlMaster config
    ControlMaster auto
    ControlPath ~/.ssh/%r@%h:%p
    # If the initial and all sessions exit, keep the ControlMaster
    # open for 300 seconds before closing.
    ControlPersist 300s
    SetEnv TERM=xterm-256color
