{{ if .work -}}
    Include config.d/bnl
    Include config.d/nsls2acc
    Include config.d/n2sn
{{- end }}
{{ if .personal -}}
    Include config.d/home
{{- end -}}
{{ "" }}

HOST *.fedoraproject.org fedorapeople.org *.fedorahosted.org
	User sic
	IdentityFile ~/.ssh/id_rsa_fedora.pub
	IdentitiesOnly yes
	IdentityAgent ~/.1password/agent.sock

Host *
    ServerAliveInterval 5
    GSSAPIAuthentication no
    PreferredAuthentications gssapi-with-mic,publickey,keyboard-interactive,password
    # ControlMaster config
    ControlMaster auto
    ControlPath ~/.ssh/%r@%h:%p
    # If the initial and all sessions exit, keep the ControlMaster
    # open for 300 seconds before closing.
    ControlPersist 300s

