[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=~/Applications/Postman/app/Postman %U
Icon=~/Applications/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
